{% extends 'base.html.twig' %}



{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <h2 class="navbar-brand">Tus mascotas</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('mascota.listarMascotas') }}">Mis mascotas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('mascota.ingresarMascotas') }}">Ingresar mascota</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('mascota.modificarMascotas') }}">Modificar mascota</a>
                </li>
            </ul>

        </div>
    </nav>
    <section class="d-flex">

        <main id="content">
            {% block main %}{% endblock %}
        </main>

    </section>
{% endblock %}

{% block stylesheets %}
    #content {
        width: 100%;
        padding: 20px;
        min-height: 100vh;

    }
{% endblock %}

{% block javascript %}

{% endblock %}
