{% extends 'base.html.twig' %}

{% block body %}

    <form class="w-25" action="{{ path('login') }}" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="form-group">
            <label for="exampleInputEmail1">Nombre de usuario</label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" aria-describedby="userHelp">
            {# <small id="userHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> #}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1"  type="password" id="password" name="_password">
        </div>

        <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
    </form>

{% endblock %}


{% block stylesheets %}
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100%;
    }
{% endblock %}
